/*Banner Image*/

.banner {
    height: 100vh;
    min-height: 500px;
    background-image: url('images/code-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: solid black 3px;
    margin-bottom: 10px;
}

/*Background H1 Color*/

.container h1 {
    margin-top: -250px;
    color: white;
    font-size: 60px;
}

/*Background Lead Color*/

.container .lead {
    color: red;
    font-size: 50px;
}

/*Link Color*/

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

/*Navbar Active & Hover Color*/

.navbar-custom .nav-item.active .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-item:hover .nav-link {
    color: red;
}

/*Navbar-Brand Color (Deciding)
.navbar-custom .navbar-brand {
    color: #ffffff;
}*/

/*Profile Picture*/

.profilepicture {
    border-radius: 50%;
    height: 175px;
    width: 210px;
    border: solid 3px #ffffff;
    margin-top: -35px;
}

/*Angled Background */

.py-5 {
    clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    background-color: #000000;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
}

.flexprofile {
    display: flex;
    margin-left: 20px;
}

.flextitle {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: -120px;
    color: #ffffff;
}

.flextitle p {
    color: #ffffff;
}

.flexaboutme {
    margin-left: -50px;
    margin-top: 50px;
    align-self: center;
    color: #ffffff
}